<div class="container theme-showcase">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Hey! <i class="fa fa-thumbs-o-up"></i></h1>
                </div>
                <h3>This is a starter template for your app. It's got the following JavaScript libraries setup and ready to go <i class="fa fa-arrow-down"></i></h3>
            </div>
        </div>
        <!--/ Row -->
        <!-- Row -->
        <div class="row">
            <div class="col-md-6  col-md-offset-3">
                <!-- Plugin Checklist -->
                <div id="js-plugin-checklist" class="list-group">
                </div>
            </div>
        </div>
        <!--/ Row -->
        <!-- Row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p>This page contains some of the UI elements you have access to with Bootstrap 3.</p>
                <p><a href="http://getbootstrap.com/" class="btn btn-primary btn-lg" role="button">Click here <i class="fa fa-fighter-jet"></i></a> to view the everything Bootstrap has to offer.</p>
            </div>
        </div>
        <!--/ Row -->
    </div>
    <div class="row">
        <div class="page-header col-md-9 col-md-offset-2">
            <h1>From this point on is all Bootstrap components <i class="fa fa-beer"></i></h1>
        </div>
    </div>
    <div class="page-header">
        <h1>Buttons</h1>
    </div>
    <p>
    <button type="button" class="btn btn-lg btn-default">Default</button>
    <button type="button" class="btn btn-lg btn-primary">Primary</button>
    <button type="button" class="btn btn-lg btn-success">Success</button>
    <button type="button" class="btn btn-lg btn-info">Info</button>
    <button type="button" class="btn btn-lg btn-warning">Warning</button>
    <button type="button" class="btn btn-lg btn-danger">Danger</button>
    <button type="button" class="btn btn-lg btn-link">Link</button>
    </p>
    <p>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
    </p>
    <p>
    <button type="button" class="btn btn-sm btn-default">Default</button>
    <button type="button" class="btn btn-sm btn-primary">Primary</button>
    <button type="button" class="btn btn-sm btn-success">Success</button>
    <button type="button" class="btn btn-sm btn-info">Info</button>
    <button type="button" class="btn btn-sm btn-warning">Warning</button>
    <button type="button" class="btn btn-sm btn-danger">Danger</button>
    <button type="button" class="btn btn-sm btn-link">Link</button>
    </p>
    <p>
    <button type="button" class="btn btn-xs btn-default">Default</button>
    <button type="button" class="btn btn-xs btn-primary">Primary</button>
    <button type="button" class="btn btn-xs btn-success">Success</button>
    <button type="button" class="btn btn-xs btn-info">Info</button>
    <button type="button" class="btn btn-xs btn-warning">Warning</button>
    <button type="button" class="btn btn-xs btn-danger">Danger</button>
    <button type="button" class="btn btn-xs btn-link">Link</button>
    </p>
    <div class="page-header">
        <h1>Navbars</h1>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a>
                    </li>
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a>
                            </li>
                            <li><a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a>
                    </li>
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a>
                            </li>
                            <li><a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="page-header">
        <h1>Alerts</h1>
    </div>
    <div class="alert alert-success">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-info">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
    <div class="alert alert-danger">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <div class="page-header">
        <h1>Progress bars</h1>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60% Complete</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="sr-only">40% Complete (success)</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="sr-only">20% Complete</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete (warning)</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Complete (danger)</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 35%"><span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 20%"><span class="sr-only">20% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 10%"><span class='sr-only'>10% Complete (danger)</span>
        </div>
    </div>
    <div class="page-header">
        <h1>List groups</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>
    <div class="page-header">
        <h1>Panels</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>
    <div class="page-header">
        <h1>Wells</h1>
    </div>
    <div class="well">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur
        et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
        </p>
    </div>
</div>
<!-- /container -->
<div class="container">
    <div class="page-header">
        <h1 id="glyphicons">Glyphicons</h1>
    </div>
    <h2 id="glyphicons-glyphs">Available glyphs</h2>
    <p>Includes 200 glyphs in font format from the Glyphicon Halflings set. <a href="http://glyphicons.com/">Glyphicons</a> Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank
    you, we only ask that you to include a link back to <a href="http://glyphicons.com/">Glyphicons</a> whenever possible.
    </p>
    <ul class="bs-glyphicons">
        <li>
            <span class="glyphicon glyphicon-adjust"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-adjust</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-align-center"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-align-center</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-align-justify"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-align-justify</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-align-left"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-align-left</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-align-right"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-align-right</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-arrow-down"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-arrow-down</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-arrow-left</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-arrow-right</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-arrow-up"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-arrow-up</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-asterisk"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-asterisk</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-backward"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-backward</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-ban-circle</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-barcode"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-barcode</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-bell"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-bell</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-bold"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-bold</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-book"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-book</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-bookmark"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-bookmark</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-briefcase"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-briefcase</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-bullhorn"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-bullhorn</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-calendar"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-calendar</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-camera"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-camera</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-certificate"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-certificate</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-check"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-check</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-chevron-down"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-chevron-down</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-chevron-left</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-chevron-right</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-chevron-up"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-chevron-up</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-circle-arrow-down</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-circle-arrow-left</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-circle-arrow-right</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-circle-arrow-up</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-cloud"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-cloud</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-cloud-download"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-cloud-download</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-cloud-upload</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-cog</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-collapse-down"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-collapse-down</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-collapse-up"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-collapse-up</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-comment"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-comment</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-compressed"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-compressed</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-copyright-mark"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-copyright-mark</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-credit-card"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-credit-card</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-cutlery"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-cutlery</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-dashboard"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-dashboard</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-download"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-download</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-download-alt"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-download-alt</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-earphone"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-earphone</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-edit"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-edit</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-eject"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-eject</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-envelope</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-euro"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-euro</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-exclamation-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-expand"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-expand</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-export"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-export</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-eye-close"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-eye-close</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-eye-open</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-facetime-video"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-facetime-video</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-fast-backward"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-fast-backward</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-fast-forward"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-fast-forward</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-file"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-file</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-film"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-film</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-filter"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-filter</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-fire"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-fire</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-flag"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-flag</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-flash"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-flash</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-floppy-disk</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-floppy-open"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-floppy-open</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-floppy-remove"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-floppy-remove</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-floppy-save"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-floppy-save</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-floppy-saved"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-floppy-saved</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-close"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-folder-close</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-folder-open</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-font"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-font</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-forward"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-forward</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-fullscreen"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-fullscreen</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-gbp"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-gbp</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-gift"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-gift</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-glass"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-glass</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-globe"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-globe</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-hand-down"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-hand-down</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-hand-left"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-hand-left</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-hand-right"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-hand-right</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-hand-up"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-hand-up</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-hd-video"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-hd-video</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-hdd"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-hdd</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-header"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-header</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-headphones"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-headphones</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-heart</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-heart-empty"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-heart-empty</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-home"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-home</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-import"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-import</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-inbox</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-indent-left"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-indent-left</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-indent-right"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-indent-right</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-info-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-info-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-italic"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-italic</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-leaf"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-leaf</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-link"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-link</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-list"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-list</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-list-alt</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-lock"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-lock</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-log-in"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-log-in</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-log-out"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-log-out</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-magnet"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-magnet</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-map-marker"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-map-marker</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-minus"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-minus</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-minus-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-minus-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-move"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-move</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-music"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-music</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-new-window"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-new-window</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-off"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-off</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-ok"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-ok</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-ok-circle"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-ok-circle</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-ok-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-ok-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-open"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-open</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-paperclip</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-pause"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-pause</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-pencil</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-phone"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-phone</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-phone-alt"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-phone-alt</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-picture"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-picture</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-plane"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-plane</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-play"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-play</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-play-circle"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-play-circle</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-plus</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-plus-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-print"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-print</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-pushpin"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-pushpin</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-qrcode"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-qrcode</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-question-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-question-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-random"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-random</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-record"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-record</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-refresh"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-refresh</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-registration-mark"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-registration-mark</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-remove"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-remove</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-remove-circle"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-remove-circle</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-remove-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-remove-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-repeat"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-repeat</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-resize-full"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-resize-full</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-resize-horizontal"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-resize-horizontal</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-resize-small"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-resize-small</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-resize-vertical"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-resize-vertical</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-retweet"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-retweet</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-road"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-road</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-save"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-save</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-saved"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-saved</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-screenshot"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-screenshot</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sd-video"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sd-video</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-search"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-search</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-send"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-send</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-share"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-share</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-share-alt</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-shopping-cart</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-signal"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-signal</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sort"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sort</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sort-by-alphabet</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sort-by-alphabet-alt</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sort-by-attributes</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sort-by-attributes-alt</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sort-by-order"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sort-by-order</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sort-by-order-alt</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sound-5-1"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sound-5-1</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sound-6-1"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sound-6-1</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sound-7-1"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sound-7-1</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sound-dolby"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sound-dolby</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-sound-stereo"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-sound-stereo</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-star</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-star-empty</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-stats"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-stats</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-step-backward"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-step-backward</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-step-forward"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-step-forward</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-stop"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-stop</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-subtitles"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-subtitles</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tag"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-tag</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tags"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-tags</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tasks"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-tasks</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-text-height"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-text-height</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-text-width"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-text-width</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-th"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-th</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-th-large"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-th-large</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-th-list"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-th-list</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-thumbs-down</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-thumbs-up</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-time"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-time</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tint"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-tint</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tower"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-tower</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-transfer"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-transfer</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-trash"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-trash</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tree-conifer"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-tree-conifer</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tree-deciduous"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-tree-deciduous</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-unchecked"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-unchecked</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-upload"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-upload</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-usd"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-usd</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-user</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-volume-down"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-volume-down</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-volume-off"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-volume-off</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-volume-up"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-volume-up</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-warning-sign</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-wrench"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-wrench</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-zoom-in"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-zoom-in</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-zoom-out"></span>
            <span class="glyphicon-class">.glyphicon .glyphicon-zoom-out</span>
        </li>
    </ul>
    <h2 id="glyphicons-how-to-use">How to use</h2>
    <p>For performance reasons, all icons require a base class and individual icon class. To use, place the following code just about anywhere. Be sure to leave a space between the icon and text for proper padding.</p>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"glyphicon glyphicon-search"</span><span class="nt">&gt;&lt;/span&gt;</span>
</code></pre>
    </div>
    <h2 id="glyphicons-examples">Examples</h2>
    <p>Use them in buttons, button groups for a toolbar, navigation, or prepended form inputs.</p>
    <div class="bs-example">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span>
                </button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span>
                </button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span>
                </button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
        <div class="btn-toolbar" role="toolbar">
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-star"></span> Star</button>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> Star</button>
            <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span> Star</button>
            <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span> Star</button>
        </div>
    </div>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default btn-lg"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"glyphicon glyphicon-star"</span><span class="nt">&gt;&lt;/span&gt;</span> Star
<span class="nt">&lt;/button&gt;</span>
</code></pre>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1 id="pagination">Pagination</h1>
    </div>
    <p class="lead">Provide pagination links for your site or app with the multi-page pagination component, or the simpler <a href="#pagination-pager">pager alternative</a>.</p>
    <h2 id="pagination-default">Default pagination</h2>
    <p>Simple pagination inspired by Rdio, great for apps and search results. The large block is hard to miss, easily scalable, and provides large click areas.</p>
    <div class="bs-example">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span class="ni">&amp;laquo;</span><span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>1<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>2<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>3<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>4<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>5<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span class="ni">&amp;raquo;</span><span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre>
    </div>
    <h3>Disabled and active states</h3>
    <p>Links are customizable for different circumstances. Use <code>.disabled</code> for unclickable links and <code>.active</code> to indicate the current page.</p>
    <div class="bs-example">
        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"disabled"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span class="ni">&amp;laquo;</span><span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>1 <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>(current)<span class="nt">&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span>
</code></pre>
    </div>
    <p>You can optionally swap out active or disabled anchors for <code>&lt;span&gt;</code> to remove click functionality while retaining intended styles.</p>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"disabled"</span><span class="nt">&gt;&lt;span&gt;</span><span class="ni">&amp;laquo;</span><span class="nt">&lt;/span&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;span&gt;</span>1 <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>(current)<span class="nt">&lt;/span&gt;&lt;/span&gt;&lt;/li&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span>
</code></pre>
    </div>
    <h3>Sizing</h3>
    <p>Fancy larger or smaller pagination? Add <code>.pagination-lg</code> or <code>.pagination-sm</code> for additional sizes.</p>
    <div class="bs-example">
        <div>
            <ul class="pagination pagination-lg">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
        <div>
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
        <div>
            <ul class="pagination pagination-sm">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination pagination-lg"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination pagination-sm"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/ul&gt;</span>
</code></pre>
    </div>
    <h2 id="pagination-pager">Pager</h2>
    <p>Quick previous and next links for simple pagination implementations with light markup and styles. It's great for simple sites like blogs or magazines.</p>
    <h3>Default example</h3>
    <p>By default, the pager centers links.</p>
    <div class="bs-example">
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pager"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Previous<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Next<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre>
    </div>
    <h3>Aligned links</h3>
    <p>Alternatively, you can align each link to the sides:</p>
    <div class="bs-example">
        <ul class="pager">
            <li class="previous"><a href="#">← Older</a></li>
            <li class="next"><a href="#">Newer →</a></li>
        </ul>
    </div>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pager"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"previous"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span class="ni">&amp;larr;</span> Older<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"next"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Newer <span class="ni">&amp;rarr;</span><span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre>
    </div>
    <h3>Optional disabled state</h3>
    <p>Pager links also use the general <code>.disabled</code> utility class from the pagination.</p>
    <div class="bs-example">
        <ul class="pager">
            <li class="previous disabled"><a href="#">← Older</a></li>
            <li class="next"><a href="#">Newer →</a></li>
        </ul>
    </div>
    <div class="highlight">
                <pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pager"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"previous disabled"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span class="ni">&amp;larr;</span> Older<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"next"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Newer <span class="ni">&amp;rarr;</span><span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1 id="labels">Labels</h1>
    </div>
    <p class="lead"></p>
    <h3>Example</h3>
    <div class="bs-example">
        <h1>Example heading <span class="label label-default">New</span></h1>
        <h2>Example heading <span class="label label-default">New</span></h2>
        <h3>Example heading <span class="label label-default">New</span></h3>
        <h4>Example heading <span class="label label-default">New</span></h4>
        <h5>Example heading <span class="label label-default">New</span></h5>
        <h6>Example heading <span class="label label-default">New</span></h6>
    </div>
    <div class="highlight"><pre><code class="html"><span class="nt">&lt;h3&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-default"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h3&gt;</span>
    </code></pre></div>
    <h3>Available variations</h3>
    <p>Add any of the below mentioned modifier classes to change the appearance of a label.</p>
    <div class="bs-example">
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-success">Success</span>
        <span class="label label-info">Info</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
    </div>
    <div class="highlight"><pre><code class="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-default"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/span&gt;</span>
    </code></pre></div>
</div>
<div class="container">
    <div class="page-header">
        <h1 id="badges">Badges</h1>
    </div>
    <p class="lead">Easily highlight new or unread items by adding a <code>&lt;span class="badge"&gt;</code> to links, Bootstrap navs, and more.</p>
    <div class="bs-example">
        <a href="#">Inbox <span class="badge">42</span></a>
    </div>
    <div class="highlight"><pre><code class="html"><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Inbox <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge"</span><span class="nt">&gt;</span>42<span class="nt">&lt;/span&gt;&lt;/a&gt;</span>
    </code></pre></div>
    <h4>Self collapsing</h4>
    <p>When there are no new or unread items, badges will simply collapse (via CSS's <code>:empty</code> selector) provided no content exists within.</p>
    <div class="bs-callout bs-callout-danger">
        <h4>Cross-browser compatibility</h4>
        <p>Badges won't self collapse in Internet Explorer 8 because it lacks support for the <code>:empty</code> selector.</p>
    </div>
    <h4>Adapts to active nav states</h4>
    <p>Built-in styles are included for placing badges in active states in pill and list navigations.</p>
    <div class="bs-example">
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Home <span class="badge">42</span></a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages <span class="badge">3</span></a></li>
        </ul>
        <br>
        <ul style="max-width: 260px;" class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#">
                <span class="badge pull-right">42</span>
                Home
                </a>
            </li>
            <li><a href="#">Profile</a></li>
            <li>
                <a href="#">
                <span class="badge pull-right">3</span>
                Messages
                </a>
            </li>
        </ul>
    </div>
    <div class="highlight"><pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-pills nav-stacked"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge pull-right"</span><span class="nt">&gt;</span>42<span class="nt">&lt;/span&gt;</span>
              Home
            <span class="nt">&lt;/a&gt;</span>
          <span class="nt">&lt;/li&gt;</span>
          ...
        <span class="nt">&lt;/ul&gt;</span>
    </code></pre></div>
</div>